.formWrapper {
    max-width: 440px;
    padding: 16px;
    margin: 0 auto;
     
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .registerbtn {
    background-color: #007BFF;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .registerbtn:hover {
    opacity:1;
  }

  .signin {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1px;
    width: 100%;
  }

  .error {
    color:red;
  }
  